<div class="auth">
	<% if (locals.session.user) { %>
		<% if (locals.admin) { %>
			<span><%= session.user.name %></span>
			<button onclick="openModifyPasswordDialog()">更改密码</button>
			<div class="dialog-closed" id="modifyPasswordDialog">
				<div class="dialog">
					<span class="caption">修改密码
						<button type="button" class="btn-cancel" onclick="closeModifyPasswordDialog(); "><i class="x"></i></button> 
					</span>
					<div class="main">
						<p id="modifyPasswordInfo"></p><p>
						<label>原密码：</label><input type="password" id="modifyOldPassword"> <span>&nbsp;&nbsp;</span><p>
						<label>新密码：</label><input type="password" id="modifyNewPassword"> <span>&nbsp;&nbsp;</span><p>
						<label><span class="nbsp4"></label><input type="password" id="modifyNewPassword2"> <span>&nbsp;&nbsp;</span><p>
						<hr>
						<button onclick="modifyPassword(this);">确认</button> 
						<button onclick="closeModifyPasswordDialog();">取消</button>
					</div>
				</div>
			</div>
			<script>
				function openModifyPasswordDialog() {
					modifyPasswordDialog.className = 'dialog-opened';
				}
				function closeModifyPasswordDialog() {
					modifyPasswordDialog.className = 'dialog-closed';

					modifyOldPassword.value = '';
					modifyNewPassword.value = '';
					modifyNewPassword2.value = '';
					modifyPasswordInfo.innerText = '';
				}
				function modifyPassword(btn) {
					if (modifyNewPassword.value !== modifyNewPassword2.value)
						return void(modifyPasswordInfo.innerHTML = '<span class="warning">两次输入的新密码不一样<span>');

					btn.disabled = true;
					modifyPasswordInfo.innerText = '';
					ajax.get('/auth/modifyPassword?oldPassword=' + encodeURIComponent(modifyOldPassword.value) +
						'&newPassword=' + encodeURIComponent(modifyNewPassword.value), 
						function(error, result) {
							btn.disabled = false;
							if (result != 'ok')
								return void(modifyPasswordInfo.innerHTML = '<span class="warning">' + (error || result) + '<span>');
							closeModifyPasswordDialog();
					});
				}
			</script>
		<% } else { %>
			<a href="/user.html"><%= session.user.name %></a>
			<button onclick="logout(this)">退出</button>
			<script>
				function logout(btn) {
					btn.disabled = true;
					ajax.get('/auth/logout', function (error, result) {
						btn.disabled = false;
						if (error || result != 'ok')
							return alert(error || result);
						refreshAuth();
					});
				}
			</script>
		<% } %>
	<% } else { %>
		<input type="text" id="loginKey" placeHolder="用户名/邮箱">
		<input type="password" id="loginPassword" placeHolder="密码">
		<button onclick="login(this, this.nextElementSibling)">登录</button>
		<button onclick="openRegisterDialog()">注册</button>
		<div class="dialog-closed" id="registerDialog">
			<div class="dialog">
				<span class="caption">用户注册 
					<button type="button" class="btn-cancel" onclick="closeRegisterDialog(); "><i class="x"></i></button> 
				</span>
				<div class="main">
					<p id="registerInfo"></p><p>
					<label>用户名：</label><input type="text" id="registerName"> <span>&nbsp;&nbsp;</span><p>
					<label>密码：<span class="nbsp1"/></label><input type="password" id="registerPassword"> <span>&nbsp;&nbsp;</span><p>
					<label><span class="nbsp4"></label><input type="password" id="registerPassword2"> <span>&nbsp;&nbsp;</span><p>
					<label>邮箱：<span class="nbsp1"/></label><input type="email" id="registerEmail"> <span>&nbsp;&nbsp;</span><p>
					<label>验证码：</label><input type="text" id="registerCaptchaCode"> <span>&nbsp;&nbsp;</span><br>
					<label><span class="nbsp4"></label><img id="registerCaptchaImage" width=128 height=64>
						<button onclick=changeCaptchaImage(this)>换一个</button><span>&nbsp;&nbsp;</span><p>
					<hr>
					<button onclick="register(this);">确认</button> 
					<button onclick="closeRegisterDialog();">取消</button>
				</div>
			</div>
		</div>
		<script>
			function login(btn1, btn2) {
				btn1.disabled = true;
				btn2.disabled = true;
				ajax.get('/auth/login?key=' + encodeURIComponent(loginKey.value) + 
					'&password=' + encodeURIComponent(loginPassword.value), 
					function (error, result) {
						btn1.disabled = false;
						btn2.disabled = false;
						if (error || result != 'ok')
							return alert(error || result);
						refreshAuth();
				});
			}
			function changeCaptchaImage(btn) {
				if (btn) btn.disabled = true;
				registerCaptchaImage.alt = '';
				registerCaptchaImage.src = '';
				ajax.get('/auth/captcha.img?doChange=true', function (error, result) {
					if (btn) btn.disabled = false;
					if (error)
						registerCaptchaImage.alt = error;
					else
						registerCaptchaImage.src = result;
				});
			}
			changeCaptchaImage();
			function openRegisterDialog () {
				registerDialog.className = "dialog-opened";
			}
			function closeRegisterDialog () {
				registerDialog.className = "dialog-closed";

				registerName.value = '';
				registerPassword.value = '';
				registerPassword2.value = '';
				registerInfo.innerHTML = '';
			}
			function register(btn) {
				if (registerPassword.value !== registerPassword2.value)
					return void(registerInfo.innerHTML = '<span class="warning">两次输入的密码不一样<span>');

				registerInfo.innerHTML = '';

				btn.disabled = true;
				ajax.get('/auth/register?name=' + encodeURIComponent(registerName.value) + 
					'&password=' + encodeURIComponent(registerPassword.value) + 
					'&email=' + encodeURIComponent(registerEmail.value) + 
					'&captcha=' + encodeURIComponent(registerCaptchaCode.value), 
					function (error, result) {
						btn.disabled = false;
						if (error || result != 'ok')
							return void(registerInfo.innerHTML = '<span class="warning">' + (error || result) + '<span>');
						alert('用户注册成功，请登录！');
						closeRegisterDialog();
				});
			}
			registerDialog.addEventListener('keypress', function(event) {
				if (event.target === registerName || 
					event.target === registerPassword ||
					event.target === registerEmail || 
					event.target === registerCaptchaCode) {

					event.target.nextElementSibling.innerHTML = '&nbsp;&nbsp;';
				}
			}, true);
			registerDialog.addEventListener('change', function(event) {
				if (event.target === registerName) {
					registerName.nextElementSibling.innerText = symbols.waiting;
					ajax.get('/auth/registerCheck?variable=name&value=' +  encodeURIComponent(registerName.value), 
						function (error, result) {
							if (result == 'ok') {
								registerName.nextElementSibling.innerText = symbols.ok;
							} else {
								registerName.nextElementSibling.innerText = symbols.wrong;
							}
					});
				} else if (event.target === registerPassword) {
					registerPassword.nextElementSibling.innerText = symbols.waiting;
					ajax.get('/auth/registerCheck?variable=password&value=' +  encodeURIComponent(registerPassword.value), 
						function (error, result) {
							if (result == 'ok') {
								registerPassword.nextElementSibling.innerText = symbols.ok;
							} else {
								registerPassword.nextElementSibling.innerText = symbols.wrong;
							}
					});
				} else if (event.target === registerEmail) {
					registerEmail.nextElementSibling.innerText = symbols.waiting;
					ajax.get('/auth/registerCheck?variable=email&value=' +  encodeURIComponent(registerEmail.value), 
						function (error, result) {
							if (result == 'ok') {
								registerEmail.nextElementSibling.innerText = symbols.ok;
							} else {
								registerEmail.nextElementSibling.innerText = symbols.wrong;
							}
					});
				} else if (event.target === registerCaptchaCode) {
					registerCaptchaCode.nextElementSibling.innerText = symbols.waiting;
					ajax.get('/auth/registerCheck?variable=captcha&value=' +  encodeURIComponent(registerCaptchaCode.value), 
						function (error, result) {
							if (result == 'ok') {
								registerCaptchaCode.nextElementSibling.innerText = symbols.ok;
							} else {
								registerCaptchaCode.nextElementSibling.innerText = symbols.wrong;
							}
					});
				}
			}, true);
		</script>
	<% } %>
	<script>
		function refreshAuth() {
			ajax.get('/auth.htm', function (error, result) {
				if (error)
					return alert(error);

				one('.auth').handle(function (auth) {
					auth.outerHTML = result;
				});

				one('.auth').handle(function (auth) {
					var scripts = auth.getElementsByTagName('script');
					var script = '';
					for (var i = 0; i < scripts.length; i++) {
						script += scripts[i].innerText;
					}

					var se = document.createElement('script');

					se.innerText = script;

					auth.appendChild(se);
				});
			});
		}
	</script>
</div>
