<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title><%= htmlTitle %></title>
	<link rel="stylesheet" href="/all.css">
	<link rel="stylesheet" href="/default-themes.css">	
	<script src="/all.js"></script>
</head>
<body>
	<!-- begin -->
	<!-- <% for (var n in locals) { %> <%- n %>, <% } %> -->