<nav class="navigation">
	<ul class="menu">
		<li><button onclick="this.parentNode.openSubmenu();">版面导航</button>
			<div class="submenu">
				<a href="/index.html">首页</a>
			</div>
		</li>
	</ul>
</nav>
