<% include @begin %>
	<div class="toolbar">
		<% include @logo %>

		<% include @auth %>
	</div>
	<div class="main">
		<% include @header %>
		<% include @navigation %>

		<div class="client" %>
			
		</div>
		<script>
		
		</script>
		<% include @footer %>
	</div>
<% include @end %>