<% include @begin %>
	<div class="toolbar">
		<% include @logo %>

		<% include @auth %>
	</div>
	<div class="main">
		<% include @header %>
		<% include @navigation %>

		<div class="client center" %>
			<h3> <%= message %> </h3>
			<hr>
			如果3秒钟后没有自动跳转，<a href="javascript: doJump();">请点击这里</a>。
		</div>
		<script>
			function doJump() {
				<% if (locals.refresh) { %>
					sessionStorage.refresh = true;
				<% } %>

				<% if (locals.jump) { %>
					history.go(<%- jump %>);
				<% } else {%>
					history.go(-1);
				<% } %>
			}

			setTimeout(function(){
				doJump();
			}, 30000);
		</script>
		<% include @footer %>
	</div>
<% include @end %>