<% include @begin %>
	<div class="toolbar">
		<% include @logo %>

		<% include @auth %>
	</div>
	<% include @header %>
	<div class="main">
		<h3> <%= message %></h3>
		<hr>
		<small>如果6秒钟后没有自动跳转，<a hre="javascript: doJump();">请点击这里</a>。<small>
	</div>
	<script>
		function doJump() {
			<% if (locals.refresh) { %>
				sessionStorage.refresh = true;
			<% } %>

			<% if (locals.jump) { %>
				history.go(jump);
			<% } else {%>
				history.go(-1);
			<% } %>
		}
	</script>
	<% include @footer %>
<% include @end %>