/* body */

.toolbar {
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
	height: 32px;
	padding: 3px;
	border-bottom-style: solid;
	background-color: white;
}

.main {
	margin-top: 40px;
	width: 100%;
}

.client {
	width: calc(100% - 10px);
	padding: 5px;
	min-height: 300px;
}

.center {
	text-align: center;
}

.header {
	margin-left: -10px;
	margin-right: -10px;
	padding-left: 10px;
	padding-right: 10px;
}

.header .caption {
	color: gray;
	font-family: "Impact";
}

.header .description {
	color: gray;
	font-family: "Impact";

	margin-left: 10px;
	margin-right: 10px;
}

.footer {
	text-align: center;
	font-size: 10px;
	font-family: "Impact"
}

/* dialog */

.dialog-opened, 
.dialog-closed {
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	background: rgba(128, 128, 128, 0.5);
	z-index: 49;
}

.dialog-opened {
	display: block;
}

.dialog-closed {
	display: none;
}

.dialog {
	margin-left: auto;
	margin-right: auto;
	margin-top: 128px;
	border-style: solid;
	border-radius: 10px;
	border-width: 1px;
	border-color: gray;
	background: white;
	width: 320px;
	box-shadow: 0 0 10px gray;

	text-align: center;
	font-size: 11pt;

	padding: 5px;

	vertical-align: middle;
}

.dialog .caption {
	display: block;
	border-radius: 5px;
	width: calc(100% - 32px);
	background : silver;
	padding: 4px 8px;
	font-weight: bold;
	font-size: 10pt;
	padding-left: 24px;
}

.dialog .caption .btn-cancel {
	width: 16px;
	height: 16px;
	float: right;
	color: red;
	padding: 0px;
	text-align: center;
	vertical-align: middle;
}

.dialog .main {
	margin: 0px;
	text-align: center;
	width: 100%;
	padding: 3px;
}

/* text */

.x::before {
	font-style: normal;
	font-family: sans-serif;
	content: "×";
}

.nbsp1::before {
	color: transparent;
	content: "空"
}

.nbsp2::before {
	color: transparent;
	content: "空格"
}

.nbsp3::before {
	color: transparent;
	content: "空格空"
}

.nbsp4::before {
	color: transparent;
	content: "空格空格"
}

/* auth */

.auth {
	float: right;
}

.auth > input[type="text"] {
	width: 120px;
}

.auth > input[type="password"] {
	width: 60px;
}

/* menu */

.menu {
	cursor: pointer;
}

.menu > li {
	display: inline-block;
	min-width: 32px;
	text-align: center;
	cursor: pointer;
	border-style: solid;
	margin: 0px;
}

.menu > li > .submenu {
	position: absolute;
	display: none;
	background-color: white;
	border-radius: 3px;
	border-style: solid;
	border-color: silver;
	border-width: 1px;
	box-shadow: 3px 3px 3px 0px silver;
	z-index: 99;
}

.menu > li > .popup {
	display: block;
}

.menu > li:hover {
	background-color: rgb(128, 128, 128);
}

.menu > li > a {
	text-decoration: none;
	cursor: pointer;
}

/* special */

.warning {
	border-width: 1px;
	border-style: solid;
	border-radius: 5px;
	text-align: center;;
	background-color: yellow;
	color: black;
	font-size: 10pt;
	padding: 8px;
	width: 90%;
	display: inline-block;
}
